# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# User data & environment secrets
.env
.env.local
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
